* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-sen: "Sen", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

/* =====common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    /* max-width có tác dụng khi thu nhỏ chiều ngang
     của màn hình thì không xuất hiện croll ngang và 
     2 lề mỗi lề 22px */
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 118px;
    min-height: 50px;
    border-radius: 24.5px;
    background: #171100;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

/* ==========HEADER */
.header {
    position: sticky;
    z-index: 10;
    top: -26px;
    padding-top: 26px;
    background: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.header nav {
    margin-left: auto;
}

.header nav ul {
    display: flex;
}

.header nav a {
    color: #5f5b53;
    padding: 8px;
    margin: 13px;
}

.header nav a:hover {
    color: #171100;
    font-weight: 600;
}

nav li.active a {
    position: relative;
    font-weight: 600;
    color: #171100;
}

nav li.active a:after {
    /* mặc định lớp giả :after :before có thuộc tính
    display: block;  */
    position: absolute;
    left: 8px;
    bottom: 6px;
    content: " ";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .body .actions {
    margin-left: 49px;
}

.header .body .actions .sign-up_btn {
    width: 144px;
    padding: 10px;
    font-weight: 600;
    font-size: 1.6;
    line-height: 1.75;
    color: #fff;
}

/* ==========hero */
.hero {
    padding-bottom: 64px;
    padding-top: 54px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    padding-right: 100px;
}

.hero .media-block .media-img {
    display: block;
    min-width: 470px;
    width: 470px;
    min-height: 685px;
    height: 685px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    background-color: #ccc;
}

/* ===============card */
.card {
    position: absolute;
    bottom: 48px;
    left: calc(100% - 270px);
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 270px;
    background: #fff;
    padding: 24px;
}

.card > div {
    display: flex;
    align-items: center;
}

.card > div:not(:first-child) {
    margin-top: 14px;
}

.card div .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.card div:nth-child(2) .icon {
    background: #fcefff;
}

.card div:nth-child(3) .icon {
    background: #ebeaff;
}

.card .icon + div {
    margin-left: 16px;
}

.card div .desc-card {
    font-size: 1.4rem;
    line-height: 1.86;
}

.card div .popular-card {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* ============ hero content   */
.hero .content-block {
    margin-left: 130px;
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .content-block .title {
    font-family: var(--font-sen);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .content-block .desc-content {
    margin-top: 22px;
}

.content-block .see-more {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.content-block .see-more .see-courses {
    height: 64px;
    width: 180px;
    background: var(--primary-color);
    border-radius: 32px;
    color: #ffffff;
}

.content-block .see-more .see-courses,
.content-block .see-more .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
}

.content-block .see-more .watch-video {
    margin-left: 28px;
    border: none;
    background-color: #fffcf4;
    cursor: pointer;
}

.see-more .watch-video div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    width: 40px;
    height: 40px;
    background-color: #fff;
}

.see-more .watch-video span {
    color: #171100;
    margin-left: 14px;
}

.hero .content-block .recent {
    margin-top: 48px;
}

.content-block .data {
    display: flex;
    align-items: flex-end;
    margin-top: 8px;
    line-height: 2.1;
}

.data strong {
    font-family: var(--font-sen);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    margin-right: 8px;
}

.data strong + strong {
    margin-left: 28px;
}
