* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-sen: "Sen", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: var(--font-poppins);
}

main {
}

/* =====common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    /* max-width có tác dụng khi thu nhỏ chiều ngang
     của màn hình thì không xuất hiện croll ngang và 
     2 lề mỗi lề 22px */
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 118px;
    min-height: 50px;
    border-radius: 24.5px;
    background: #171100;
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.heading {
    font-family: var(--font-sen);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.break-all {
    word-break: break-all;
}

.dots {
    display: flex;
    margin-top: 28px;
}

.dots .dot {
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
}

.dots .dot-active {
    cursor: default;
    background: var(--primary-color);
}

/* ==========HEADER */
body > .header {
    position: sticky;
    z-index: 10;
    top: -26px;
    padding-top: 26px;
    background: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.header nav {
    margin-left: auto;
}

.header nav ul {
    display: flex;
}

.header nav a {
    color: #5f5b53;
    padding: 8px;
    margin: 13px;
}

.header nav a:hover {
    color: #171100;
    font-weight: 600;
}

nav li.active a {
    position: relative;
    font-weight: 600;
    color: #171100;
}

nav li.active a:after {
    /* mặc định lớp giả :after :before có thuộc tính
    display: block;  */
    position: absolute;
    left: 8px;
    bottom: 6px;
    content: " ";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .body .actions {
    margin-left: 49px;
}

.header .body .actions .sign-up_btn {
    width: 144px;
    padding: 10px;
    font-weight: 600;
    font-size: 1.6;
    line-height: 1.75;
    color: #fff;
}

/* ==========hero */
.hero {
    padding-bottom: 64px;
    padding-top: 54px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    padding-right: 100px;
}

.hero .media-block .media-img {
    display: block;
    min-width: 470px;
    width: 470px;
    min-height: 685px;
    height: 685px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    background-color: #ccc;
}

/* ===============card */
.card {
    position: absolute;
    bottom: 48px;
    left: calc(100% - 270px);
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 270px;
    background: #fff;
    padding: 24px;
}

.card > div {
    display: flex;
    align-items: center;
}

.card > div:not(:first-child) {
    margin-top: 14px;
}

.card div .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.card div:nth-child(2) .icon {
    background: #fcefff;
}

.card div:nth-child(3) .icon {
    background: #ebeaff;
}

.card .icon + div {
    margin-left: 16px;
}

.card div .desc-card {
    font-size: 1.4rem;
    line-height: 1.86;
}

.card div .popular-card {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* ============ hero content   */
.hero .content-block {
    margin-left: 130px;
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .content-block .title {
    font-family: var(--font-sen);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .content-block .desc-content {
    margin-top: 22px;
}

.content-block .see-more {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.content-block .see-more .see-courses {
    height: 64px;
    width: 180px;
    background: var(--primary-color);
    border-radius: 32px;
    color: #ffffff;
}

.content-block .see-more .see-courses,
.content-block .see-more .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
}

.content-block .see-more .watch-video {
    margin-left: 28px;
    border: none;
    background-color: #fffcf4;
    cursor: pointer;
}

.see-more .watch-video div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    width: 40px;
    height: 40px;
    background-color: #fff;
}

.see-more .watch-video span {
    color: #171100;
    margin-left: 14px;
}

.hero .content-block .recent {
    margin-top: 48px;
}

.content-block .data {
    display: flex;
    align-items: flex-end;
    margin-top: 8px;
    line-height: 2.1;
}

.data strong {
    font-family: var(--font-sen);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    margin-right: 8px;
}

.data strong + strong {
    margin-left: 28px;
}

/* ========popular */
.popular {
    padding: 65px;
    margin-top: 135px;
}

.popular .header {
    display: flex;
    align-items: center;
}

.desc-title-common {
    margin-top: 16px;
    width: 458px;
}

.popular .header .controls {
    display: flex;
    margin-left: auto;
}

.controls button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 50%;
}

.controls button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.controls button + button {
    color: #fff;
    background: var(--primary-color);
    margin-left: 18px;
}

.courses-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.course-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
}

.course-item:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.course-item .thumb {
    width: 100%;
    height: 287px;
    min-height: 287px;
    object-fit: cover;
    vertical-align: top;
}

.course-item .infor {
    padding: 16px 22px 22px 22px;
    border: 1px solid #e2dfda;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.course-item:hover .infor {
    border-color: #fff;
}

.course-item .head,
.course-item .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .head .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

.course-item .title a {
    color: #171100;
}

.course-item .head .rating {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.course-item .rating .value {
    margin-left: 6px;
}

.course-item .infor .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.course-item .foot {
    margin-top: 12px;
}

.course-item .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .foot .btn-course {
    background: #000;
    border: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #fff;
    border-radius: 25px;
}

.course-item:hover .btn-course {
    background: #ffb900;
}

/* ======feedback */
.feedback {
    margin-top: 135px;
    background: #2e2100;
    padding: 96px 0;
}

.feedback-item {
    display: flex;
    justify-content: space-between;
}

.feedback-item .infor {
    /* background: #fff; */
    width: 300px;
}

.feedback-item .infor .avatar {
    width: 72px;
    max-width: 72px;
    height: 72px;
    min-height: 72px;
    object-fit: cover;
    border-radius: 50%;
    background: #fff;
}

.feedback-item .infor .title {
    margin-top: 18px;
    font-family: var(--font-sen);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback-item .infor .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.feedback-item .infor .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dots .dot {
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
}

.feedback-item .dots .dot-active {
    cursor: default;
    background: var(--primary-color);
}

.feedback-item .cont {
    max-width: 770px;
}

.feedback-item .cont blockquote {
    padding-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* ========features */
.features {
    margin-top: 135px;
    /* background: #ccc; */
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 30px;
}

.features .images .image-1 {
    margin-top: 34px;
}

.features .images .image {
    width: 270px;
    height: 404px;
    min-height: 404px;
    object-fit: cover;
    border-radius: 16px;
    background-color: #ccc;
}

.features .infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 470px;
}

.features .infor .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .infor .btn-features {
    margin-top: 32px;
    width: 137px;
    background: #ffb900;
    border-radius: 26px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.features-2 {
    margin-top: 70px;
}

.features-2 .body {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.features-2 .infor {
    width: 49%;
}

.features-2 .images {
    margin-left: 130px;
}

.features-2 .images .image {
    width: 470px;
    height: 440px;
}

/* =========blog */
.blog {
    margin-top: 130px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog-top {
    text-align: center;
}

.blog-top .desc {
    display: inline-block;
    margin-top: 16px;
    max-width: 448px;
}

.blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.blog-list .blog-item {
    width: calc(100% / 3);
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
}

.blog-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog-list .blog-item .thumb {
    width: 100%;
    height: 250px;
    min-height: 250px;
    object-fit: cover;
}

.blog-item .item-infor {
    padding: 20px 20px 28px 20px;
}

.blog-item .item-infor .date {
    position: relative;
    font-size: 1.4rem;
    color: #5f5b53;
    margin-left: 10px;
}

.blog-item .item-infor .date::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    content: " ";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog-item .item-infor .date::after {
    position: absolute;
    left: -10px;
    top: calc(100% + 12px);
    content: " ";
    width: 160px;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog-item .item-infor .title {
    margin-top: 25px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
}

.item-infor .title a {
    color: #171100;
}

.blog-item .item-infor .btn-blog {
    margin-top: 12px;
    color: #fff;
}

.blog-item:hover .btn-blog {
    background: var(--primary-color);
}

.blog .dots {
    margin-top: 38px;
    justify-content: center;
}

.dot {
    background: #5f5b53;
}

/* ===========footer */
.footer {
    background: #2e2100;
    padding-top: 96px;
}

.row {
    display: flex;
    padding-bottom: 38px;
}

.footer .column:nth-child(1) {
    width: 35%;
}
.footer .column:nth-child(2) {
    width: 22%;
}
.footer .column:nth-child(3) {
    width: 22%;
}
.footer .column:nth-child(4) {
    width: 21%;
}

.footer .column:first-child .desc {
    margin-top: 18px;
    width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .column:first-child .social-media {
    margin-top: 18px;
}

.social-media .social-item {
    margin-right: 18px;
}

.footer .column .heading {
    display: inline-block;
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
    letter-spacing: 0;
    padding: 0 60px 14px 0;
    padding-right: 60px;
    border-bottom: 1px solid #59554b;
}

.footer .column .list {
    margin-top: 28px;
}

.footer .list li {
    margin-top: 12px;
}

.footer .list a {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .column:last-child li {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .column:last-child strong {
    font-weight: 600;
    color: #fff;
}

.footer .row {
    border-bottom: 1px solid #59554b;
}

.footer .copyright {
    padding: 28px 0;
    font-size: 1.4rem;
    text-align: center;
    color: #807d74;
}
